@model IEnumerable<Todoweb.data.Entities.Todolist>
    <style>
         table,
         td,
         th {
             border: 1px solid black;
             border-collapse: collapse;
             padding: 5px;
         }
    </style>
    
<main id="main">
    <caption>Your 2do List <a href="Todolist/Add">[Create List]</a></caption>
    <table>

        <thead>
            <tr>
                <th>Title</th>
                <th>Due Date</th>
                <th>Status</th>
                <th>Details</th>
            </tr>
        </thead>

@if(Model is object)
 {
   @foreach (var todolist in Model)
     {
       <tbody>
            <tr>
                <td>@todolist.Title</td>
                <td>@todolist.DueDate</td>
                <td>@todolist.Status</td>
                <td> <a href = "Add"> edit </a> </td>
            </tr>
        </tbody>
     }
 }
    </table>
</main>